.banner {
  padding: 0;
  background-color: #52575c;
  color: white;
}

.banner-text {
  padding: 8px 20px;
  margin: 0;
}


#join-form {
  margin-top: 10px;
}

.tips {
  font-size: 12px;
  margin-bottom: 2px;
  color: gray;
}

.join-info-text {
  margin-bottom: 2px;
}

input {
  width: 100%;
  margin-bottom: 2px;
}

.player{
  width: 480px;
  height: 320px;
}

.player-name {
  margin: 8px 0;
}

#success-alert, #success-alert-with-token {
  display: none;
}
.localWrapper {
  position: relative;
}

.fas {
  font-weight: 900;
  background: /*rgb(0 123 255 / 50%)*/ #fff;
  padding: 10px;
  border-radius: 50%;
  min-width: 40px;
  min-height: 40px;
  text-align: center;
  font-size: 16px;
  /* vertical-align: middle !important; */
  padding-top: 12px;
  margin: 5px;
  cursor: pointer;
} 
.fa-desktop {
  color: rgb(0, 0, 0);
}
.video-player-ctrls, .local-player-ctrls {
  text-align: center;
  position: relative;
  top: -60px;
  width: 480px;

}
@media (max-width: 640px) {
  .player  {
    width: 320px;
    height: 240px;
  }
  .video-player-ctrls, .local-player-ctrls  {
    width: 320px;
  }
}